<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src='client/lib/client.js'></script>
<script type="text/javascript" src="scripts/app.js"></script>

    <title>Bowl-O-Rama</title>
  </head>
  <!-- naming app -->
  <body ng-app="bowlsToTheWall" ng-controller="bowlingController">
    <h1 class="main">Bowl-O-Rama</h1>

    <!--//////////// L O G I N ///////////////-->
        <div class="container" ng-show="showLoginPage">
          <!-- <button type="button" name="log-in">Log-In</button> -->
          <div class="logIn row">
            <div class="col-xs-4">
            <h1>Log-In</h1>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="loginEmail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ng-model="loginPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button ng-click="loginSubmit()" type="submit" class="btn btn-primary">Submit</button>
              <button ng-click="createAccount()" class="btn btn-default" type="button" name="button">I don't have an account</button>
              </form>
              </div>
          </div>
        </div>
        <!--///////////////// S I G N   U P /////////////////-->
        <div class="container" ng-show="showSignUpPage">
        <div class="signUp row">
        <div class="col-xs-4">
          <h1>Sign-Up</h1>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input ng-model="signUpEmail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input ng-model="signUpPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button ng-click="signUpSubmit()" type="submit" class="btn btn-primary">Submit</button>
            <button ng-click="hasAccount()" class="btn btn-default" type="button" name="button">I already have an account</button>
            </form>
            </div>
        </div>
      </div>
      <!-- ///////////// H O M E  -  P A G E /////////// -->
      <div class="container jumbotron" ng-show="showDashboard">
        <h1>Dashboard/Home Page</h1>
        <h3>
          Welcome to Bowl-O-Rama
        </h3>

      </div>
  </body>
</html>
