<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src='client/lib/client.js'></script>
<script type="text/javascript" src="scripts/app.js"></script>

    <title>Bowl-O-Rama</title>
  </head>
  <!-- naming app -->
  <body class="container" ng-app="bowlsToTheWall" ng-controller="bowlingController">
    <h1 class="main homepagehones jumbotron">Bowl-O-Rama</h1>

    <!--//////////// L O G I N ///////////////-->
        <div class="container" ng-show="showLoginPage">
          <!-- <button type="button" name="log-in">Log-In</button> -->
          <div class="logIn row">
            <div class="col-xs-4 homepagehones">
            <h1>Log-In</h1>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="loginEmail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ng-model="loginPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button ng-click="loginSubmit()" type="submit" class="btn btn-primary">Submit</button>
              <button ng-click="createAccount()" class="btn btn-default" type="button" name="button">I don't have an account</button>
              </form>
              </div>
          </div>
        </div>
        <!--///////////////// S I G N   U P /////////////////-->
        <div class="container" ng-show="showSignUpPage">
        <div class="signUp row">
        <div class="col-xs-4 homepagehones">
          <h1>Sign-Up</h1>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input ng-model="signUpEmail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input ng-model="signUpPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button ng-click="signUpSubmit()" type="submit" class="btn btn-primary">Submit</button>
            <button ng-click="hasAccount()" class="btn btn-default" type="button" name="button">I already have an account</button>
            </form>
            </div>
        </div>
      </div>
      <!-- ///////////// H O M E  -  P A G E /////////// -->
      <div class="container jumbotron" ng-show="showDashboard">
        <h1>Dashboard / Home Page</h1>
        <h3>
          Welcome to Bowl-O-Rama
        </h3>
        <div class="container" ng-show="createNewBowlerPage">
          <h3>Create A New Bowler</h3>
          <div class="col-lg-6">
          <div class="input-group">
            <input ng-model="createNewBowlerName" type="text" class="form-control" placeholder="Enter Bowlers Name...">
            <span class="input-group-btn">
              <button ng-click="createNewBowler()" class="btn btn-default" type="button">Create</button>
            </span>
          </div>
        </div>
        <h3>Create A New League</h3>
        <div class="col-lg-6">
        <div class="input-group">
          <input ng-model="createNewLeagueName" type="text" class="form-control" placeholder="Enter Your Lame Ass League Name...">
          <span class="input-group-btn">
            <button ng-click="createNewLeague()" class="btn btn-default" type="button">Create</button>
          </span>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="col-lg-6">
        <div class="input-group">
            <button ng-click="viewAllBowlers()"class="btn btn-lg" type="button">View All Bowlers</button>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="col-lg-6">
        <div class="input-group">
            <button ng-click="viewAllLeagues()" class="btn btn-lg" type="button">View All Leagues</button>
        </div>
      </div>
    </div>
      </div>
      <!-- A L L      B O W L E R S -->
      <div class="container bowlers" ng-show="viewAllBowlersPage">
        <h1>All Bowlers</h1>
          <ul>
            <li ng-repeat="bowler in bowlers" class="lists"><a ng-click="getSpecificBowler(bowler.id)">{{bowler.name}}</a></li>
          </ul>
      </div>
      <div class="container specificBowler" ng-show="getSpecificBowlerPage">
        <h1>{{league.name}}</h1>
      <!-- create a form here so that you can get specific bowlers -->

      </div>
      <!-- B O W L I N G     L E A G U E S -->
      <div class="container leagues" ng-show="viewAllLeaguesPage">
        <h1>All Leagues</h1>
        <ul>
          <li ng-repeat="league in leagues" class="lists"><a ng-click="getSpecificLeague(league.id)">{{league.name}}</a></li>
        </ul>
      </div>
      <div class="container specificLeague" ng-show="getSpecificLeaguePage">
        <h1>{{league.name}}</h1>
        <form>
          <div class="form-group">
            <!-- //double check on the number type. Might need to change this -->
            <label for="exampleInputEmail1">Add New Bowler To League</label>
            <input ng-model="newBowlerToLeague" type="number" class="form-control" id="" placeholder="Name">
          </div>
          <button ng-click="joinLeague(newBowlerToLeague,league.id)" type="submit" class="btn btn-primary">Add To League</button>

          </form>
          <!-- when the specific league page is showing....This will always be showing. Only need one ng-show in the parent div. -->
          <div class="container bowlersInLeague">
            <h1> All Bowlers in {{league.name}}</h1>
            <ul>
              <li ng-repeat="bowler in listOfBowlers"><a ng-click="getSpecificBowler(bowler.id)">Bowler Name: {{bowler.name}}<br> Bowler Id:{{bowler.id}}</a></li>
            </ul>
          </div>
      </div>
  </body>
</html>
