h1.main {
  font-family: 'Alegreya';
  text-align: center;
  font-size: 70px;
  display: none;
  font-weight: bold;
}
h1.main.jumbotron{
  padding-top:20px;
  padding-bottom: 20px;
  background-color: rgba(238, 238, 238, 0.6);

}
.jumbotron{
  font-family: 'Roboto Condensed'
}
body {
 margin: 0;
 background-image: url(../images/bowling.jpeg);
 background-repeat:no-repeat;
 background-size: cover;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homepagehones{
  color: white;
}
.btn-lg {
  margin-top: 10% !important;
}
h1.bowlers{
  font-size:50px;
  color: white;
  text-align: center;
}
.bowlersInLeague li{
  list-style-type: none;
  font-family: arial;
  margin-top:5%;
}
.bowlersInLeague li a{
  color: white;
  font-family: Helvetica;
}

/*hr {
  color: black;
  width: 50%;
}*/
.leagues.jumbotron h1{
  text-align: center;
}
.bowlers.jumbotron h1{
  text-align: center;
}
.specificLeague h3{
  color: white;
  text-align: center;
  font-family: roboto;
}
.specificLeague h1{
  color: white;
  text-align: center;
  font-family: roboto;
}
.bowlersInLeague li{
  color: white;
}
.jpHistory li{
  color: white;
  font-weight: bolder;
  text-align:center;
}
.jpHistory.background ul{
  background-color: white !important;
}
.label {
  color: white;
}
.specificLeague.form-control input{
  width: 20% !important;
  text-align: center;
}
