h1.main {
  font-family: 'Open Sans Condensed';
  text-align: center;
  font-size: 70px;
  display: none;
  font-weight: bold;
}
h1.main.jumbotron{
    padding-top:20px;
    padding-bottom: 20px;
    background-color: rgba(238, 238, 238, 0.6);

}
body {
 margin: 0;
 background-image: url(../images/bowling.jpeg);
 background-repeat:no-repeat;
 background-size: cover;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homepagehones{
  color: white;
}
.btn-lg {
  margin-top: 10% !important;
}
h1.bowlers{
  font-size:50px;
  color: white;
  text-align: center;
}
h1.li{
  
}
